* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}

body {
    overflow: auto;
}

main {
    max-width: 1000px;
    margin: auto;
}

#page_heading {
    font-size: 1em;
    text-align: center;
    padding: 28px 0 18px;
    margin: auto;
    width: 100%;
}

#card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    height: 120px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 6px;
    transition: all .15s ease-in-out;
}

.card:hover {
    border-color: darkgrey;
    box-shadow: 0 3px 8px darkgrey;
    transform: scale(1.05);
    cursor: pointer;
}

.card img {
    float: left;
    border-radius: 50%;
    width: 80px;
    margin: 18px 15px;
}

.card h3 {
    font-size: 1.1em;
    margin: 33px 0 0;
    line-height: 1;
}

.card p,
#modal-card p {
    color: rgb(141, 141, 141);
}

.card p {
    font-size: .7em;
    line-height: .9;
    margin: 7px 0;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
}

#modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 300px;
    padding-bottom: 20px;
    border-radius: 6px;
    position: absolute;
    top: 15%;
}

#modal-card #exit {
    align-self: flex-end;
    padding: 5px 25px;
    box-shadow: 1px 1px 5px rgba(2, 2, 2, .3);
    border-radius: 0 0 0 6px;
    cursor: pointer;
    font-weight: 700;
}

#modal-card img {
    border-radius: 50%;
    width: 100px;
    margin: 2px auto 12px;
}

#modal-card h3 {
    font-size: .9em;
}

#modal-card p {
    font-size: .7em;
    line-height: .9;
    margin: 7px 0;
    text-align: center;
}

#modal-card #border {
    width: 80%;
    height: 1px;
    background-color: rgb(209, 209, 209);
    margin: 15px auto;
}

@media screen and (min-width: 637px) {
    #page_heading {
        text-align: left;
        width: 618px;
    }
}

@media screen and (min-width: 957px) {
    #page_heading {
        width: 938px;
    }
}