* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#page_heading {
    font-size: 1em;
    text-align: center;
    margin: 18px auto;
    /* margin-bottom: 18px; */
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.card {
    width: 300px;
    height: 120px;
    border: 2px solid lightgrey;
    border-radius: 7px;
}

.card img {
    float: left;
    border-radius: 50%;
    width: 80px;
    margin: 18px 15px;
}

.card h3 {
    font-size: 1.1em;
    margin: 33px 0 0;
    line-height: 1;
}

.card p {
    font-size: .7em;
    line-height: .9;
    margin: 7px 0;
}

@media screen and (min-width: 653px) {
    #page_heading {
        text-align: left;
        width: 618px;
    }
}

@media screen and (min-width: 973px) {
    #page_heading {
        width: 938px;
    }
}